* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background: linear-gradient(to left, #5395ba, #84b0d1);
  z-index: -1;
}
#Logo {
  grid-column: 2/3;
  font-size: 24px;
}
.hamburger {
  justify-self: end;
  width: 10%;
  height: 10vh;
}
section {
  display: flex;
  height: 80vh;
}
