.navbar-brand
{
  font-family: 'Lato', sans-serif;
  color:grey;
  font-size: 4rem !important;
  margin: 0px;
}

.nav-item{
  font-size: 2rem !important
}


.navbar-nav{
  font-size: 3rem !important
}

.thumbnail img {
  max-height: 150px;
}

.thumbnail .description {
  color: #7f7f7f;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

div {
  font-size:0;
}
#form{
  text-align: center;
  font-size: 14px;
}
input {
  height: 10%;
  width: 50%;
  box-sizing: border-box;
}
