* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cleaningimage{
        text-align: center;
        padding: 15px 1em 0 2em;
      }

.slider {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background: linear-gradient(to left, #5395ba, #84b0d1);
  z-index: -1;
}
nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: black;
  align-items: center;
}

#Logo {
  grid-column: 2/3;
  font-size: 24px;
}
.hamburger {
  justify-self: end;
  float:right;
  margin-right: 10px;
  width: 20%;
  height: 10vh;
}

section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.clean {
  width: 60%;
  height: 100%;
  position: relative;
  float:right;
}

.clean img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline {
  position: absolute;
  top: 49%;
  left: 17%;
  font-size: 80px;
  transform: translate(-20%, -70%);
  color: white;
  z-index: 3;
}

.clean::after {
  content: "";
  background: black;
  width: 100%;
  height: 68%;
  position: absolute;
  left: 0;
  opacity: 0.3;
  top: 0;
}




.navbar-brand
{
  font-family: 'Lato', sans-serif;
  color:grey;
  font-size: 4rem !important;
  margin: 0px;
}

.nav-item{
  font-size: 2rem !important
}


.navbar-nav{
  font-size: 3rem !important
}

.thumbnail img {
  max-height: 150px;
}

.thumbnail .description {
  color: #7f7f7f;
}

.price {
  font-weight: bold;
  font-size: 16px;
}


.image-container{
 height: 500px;
 width: 100%;
 background-size: cover;
}
